# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/saves
run/config
run/screenshots
run/options.txt
run/usercache.json
run/usernamecache.json
run/mods
run/resourcepacks
run/defaultconfigs

# Files from Forge MDK
forge*changelog.txt
